<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         colors="true">
  <testsuites>
     <testsuite name="My Test Suite">
       <directory suffix="Test.php">tests</directory>
     </testsuite>
   </testsuites>

   <php>
     <env name="DB_FIXTURES_INCLUDE_PATHS_mysql" value="tests/bds/"/>
     <env name="DB_FIXTURES_INCLUDE_PATHS_sqlite" value="tests/bds/"/>
   </php>
</phpunit>
